
*{
    box-sizing: border-box !important;
}

/*homepage*/ 
html,body{
    max-height:100vh !important;
    
}



body{
    margin:0 !important;
    display:flex;
    flex-direction: column;
    background-color: #f9f9f9;
    
}

header {
    background-color:#ffffff
}

.stamps img {
    max-width: 400px;
}

.marketLinks img{
    max-width: 400px;
}



.vid-container { position:relative;
 width: 100%;
 height:83vh;
 display:block
 
}
.vid-container video {
    /* position:absolute; */
    z-index:0;
    width:100%;
    object-fit: fill;
    height:83vh
    
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    color:white

}

.contentOfVidOverlay{
    margin-top:17%;
    margin-left:30%;
    width:60%
}

.contentOfVidOverlay span {
    font-size: 32px;
}

.contentOfVidOverlay p {
    font-size: 32px;
}

ul{
    display:flex;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0%;
    padding-left:0
}

.home{
    border-left:1px solid #ebebeb;
}

nav ul a {
    list-style-type: none;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    
    
    border:1px solid #ebebeb;
    border-left:none;
    border-top:none
}

nav ul li  {
    text-decoration: none;
    list-style-type: none;
    color:black;
    border-bottom: 3px solid #ebebeb;
    padding-bottom:3px;
    padding-top:3px
}

nav ul a {
    text-decoration: none;
    width:100px;
    height:50px;
}



nav ul a:hover{
    background-color: #ebebeb;
    cursor:pointer
}

nav ul a:hover li{
    border-bottom:3px solid #426197;
    transition: .7s ease-in-out;
}

nav{
    
    border-top:1px solid #ebebeb;
    padding-left:18%;
    margin-top:30px
}



.marketLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18% 20px 18%;
    flex-wrap: wrap;
}

.marketLinks a {
    text-decoration: none;
    color:#727272
   
}

.marketLinks a:hover {
    color:#426197;
    transition: .5s ease-in-out;
}

.marketlinks a i {
    gap:20px
}



.titleAndCreds{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 18% 0 18%;
    border-top:1px solid #ebebeb;
    flex-wrap: wrap;
}



.home-footer{
display:flex;
align-items: center;
position:absolute;
height:50px;
bottom:0;
background-color: #292929;
color:#f9f9f9;
width:100%;
z-index: 1;
justify-content: center;
}

.filler{
    width:20px !important
}

.slogan {
    background-color:#426197;
    width:100%;
    color:white;
    padding-left:18%; 
    height:50px;
    display:flex;
    align-items: center;
    
}

.slogan h2{
    font-weight: 100;
}



/*ABOUT PAGE================================================================================================================================================ */ 

.about-main{
    
    margin-left:18%;
    margin-right:18%;
    padding-top:50px;
    padding-bottom: 20px;
}

.about-main .about-page-paragraph p {
    font-size: 20px;
    line-height: 1.5;
    text-align:justify;
}

.about-page-photos {
    width:100%;
    height:400px;
    overflow: hidden;
    
}

.about-page-photos img{
    width:100%;
    height: auto;

}

.about-page-paragraph {
    padding-bottom:60px;
    padding-top:40px
}



.slideshow-1{
    background-image: url(../photos/aboutpage1.jpg);
    background-size: cover;
    background-position: left;
    height:100%;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}


.slideshow-1 h3 {
    font-size: 40px;
    margin-bottom:10px
    
}

.slideshow-1 p {
    font-size: 22px;
    margin-top:10px
}

.slideshow-2 {
    background-color: #426197;
    height:100%;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.slideshow-2 div {
    text-align: center;
}

.slideshow-2 h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.slideshow-2 p {
    font-size: 22px;
    width:300px;
    margin-top: 10px;
    line-height: 1.5;
}

.slideshow-2 img {
    max-width:49%;
    max-height:70%
}

.slideshow-3{
    height:100%;
    background-image: linear-gradient(to bottom right,#426197, rgb(218, 218, 218));
    padding: 9% 5% 0 5%

}

.slideshow-3 div {
    margin-bottom:20px
}

.slideshow-3 span {
    color:white;
    font-size: 28px;
    
}


.slideshow-4 {
    background-color: #426197;
    height:100%;
    padding-left:5%;
    padding-right: 5%;
}

.our-certs{
    padding-top:8%;
    padding-bottom:30px;
    color:white;
    margin-left: 20px;
}

.our-certs span {
    font-size: 29px;
}

.cert-holder div {
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: space-between;
    height:170px
}

.cert-holder{
    display: flex;
    justify-content: space-around;
}

.cert-holder span {
    font-size: 23px;
}

.slideshow-4 img {
    width: 125px;
    border:1px solid black;

}

.hidden {
    display:none
}
/* CAPABILITIES PAGE ================================================================================================================================================ */ 



.left{
    display:flex;
    flex-direction: column;
}

.right {
    display:flex;
    flex-direction: column;
}

.left div span{
    display: block
}

.sdvosb{
    border: 1px solid black;
    margin-bottom: 10px;
    height:100px
    
}

main section img {
    width:100px;
    height: 120px
}

.footer {
 display:flex;
align-items: center;
height:50px;
justify-content: center;
background-color: #292929;
width:100%;
}

.footer span {
    height:50px;
    padding-top:15px;
    padding-bottom: 15px;
   
    color:#f9f9f9

}

.capabilities-main{
    display:flex;
    margin-right:18%;
    margin-left:18%;
    background-color: #f9f9f9;
    line-height: 1.5;
   padding-bottom:20px
    
}

.capabilities-main section.right {
    font-size: 13px;
    padding-left:30px;
    border-left:1px solid #ebebeb
}

.capabilities-main section.right div {
    padding: 10px 10px 10px 10px
}

.capabilities-main section.left {
    padding-right:10%;
    font-size: 15px;
    font-weight: bold;
    
}

.capabilities-main section.left, .capabilities-main section.right {
    padding-top:50px
}

.capabilities-main > .left img, .capabilities-main > .left span {
    padding-top:10px;
    padding-bottom:10px
}

.our-clients{
    display:flex;
    justify-content: center;
}

.clients {
    width:100%;
    height:auto
}



.company-data{
    display:flex;
    background-color: white;
}

.right .capabilities-right-titles{
    background-color: #426197;
    color:white;
    height:35px;
    display:flex;
    justify-content: start;
    align-items: center;
    padding-left:10px
}

.core-competencies{
    display:flex;
    flex-direction: column;
    background-color: white;
}

.right div{
    background-color: white;
}

.naics {
    display:flex;
    background-color: white;
 
}

.nsn {
    display:flex;
    background-color: white;
}

.contact-information {
    display:flex;
    background-color: white;
}

.right .right, .right .left{
    width:50%
}

.address{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
